```
export MIX_ENV=prod
export PORT={{ phoenix_port }}
export DATABASE_URL=ecto://{{ db_user }}:{{ db_password }}@{{ db_host }}/{{ db_name }}
export SECRET_KEY_BASE={{ app_secret_key_base }}
export PHX_HOST={{ ansible_host }}
export PHX_SERVER=true
```