MIX_ENV=prod
PORT={{ phoenix_port }}
DATABASE_URL=ecto://{{ db_user }}:{{ db_password }}@{{ db_host }}:5432/{{ db_name }}
SECRET_KEY_BASE={{ app_secret_key_base }}
PHX_HOST={{ ansible_host }}
PHX_SERVER=true



